.ProjetoEdit .d1 {
  /*background-color: brown;*/
  border-bottom: 2px solid black;
  margin-bottom: 13px;
}

.d2 {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.d3 p {
  margin-top: 8px;
}

.d3 h1 {
  margin-bottom: 10px;
  background-color: black;
  color: rgb(255, 195, 0);
  padding: 0px 10px;
  border-radius: 5px;
}

.d3 h3 {
  margin-bottom: 5px;
}

.bnt {
  padding: 12px 30px;
  border-radius: 5px;
  color: white;
  background-color: black;
  border: none;
}

.d4 {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}